@using OnlineExaminationSystem.Common.Data.Model
@model Question

@{
    ViewData["Title"] = "Create";
    var subjects = new List<SelectListItem>();

}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
              @*  <select class="form-select" aria-label="Default select example" asp-for="Level">
                    @{
                        foreach(var level in Model.LevelItems){
                            <option value="@level">@level</option>
                        }
                    }
                </select>*@
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerKey" class="control-label"></label>
                <input asp-for="AnswerKey" class="form-control" />
                <span asp-validation-for="AnswerKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                @*<select class="form-select" aria-label="Default select example" asp-for="Subject">
                    @{
                        foreach(var subject in Model.SubjectItems){
                            <option value="@subject">@subject</option>
                        }
                    }
                </select>*@
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>