@model OnlineExaminationSystem.Common.Model.UserModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>
<a>Button</a>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary">A</a>
        <form action="/Admin/ManageUser/Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input name="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input name="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label"></label>
                <input name="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" formmethod="post" name="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

