
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="navbar-nav flex-grow-1">
    <li><a class="navbar-brand" href="/Admin/ManageUser/Index">Manage User</a></li>
    <li><a class="navbar-brand" href="/Admin/ManageQuestion/Index">Manage Question</a></li>
</ul>